@{
    ViewData["Title"] = "改机参数列表";
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
</environment>
<div class="header padding-top-30">
    <ol class="breadcrumb">
        <li>设备管理</li>
        <li>设备列表</li>
        <li class="active">参数列表</li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">筛选条件</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body enter-search">
                                    <div class="col-md-2 col-sm-2">
                                        <div style="" class='input-group date'>
                                            <input type="text" id="StartLine" name="StartLine" class="form-control selecttime" placeholder="开始时间">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2">
                                        <div class='input-group date '>
                                            <input type="text" id="EndLine" name="EndLine" class="form-control selecttime" placeholder="截止时间">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <input type="hidden" id="machineId" name="machineId" value=@ViewBag.MachineId />
                                    <div class="col-md-1 col-sm-1">
                                        <a class="btn btn-primary btn-cons" id="search" href="javascript:void(0);">查询</a>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <a class="btn btn-primary btn-cons" id="search" href="/machine/createParam?machineId=@ViewBag.MachineId">新增</a>
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <a class="btn btn-primary btn-cons" data-toggle="tooltip" title="一键快速随机生成参数并启用" id="quick-generate" href="javascript:void(0);">快速生成</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <table class="table table-striped table-hover" id="checklist-grid"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
        <script src="~/js/Machine/param-list.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bootstrap-table-zh.min.js"></script>
        <script src="~/js/Machine/param-list.js"></script>
    </environment>
}



